body {
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circles-icon2,
.frame-child {
  position: absolute;
  top: -188.9px;
  left: 0px;
  width: 1350.8px;
  height: 125vh;
}
.circles-icon2 {
  top: 530px;
  left: -230px;

  width: 1373px;
  height: 268px;
  z-index: 1;
}
.frame-parent2 {
  width: 1292px;
  height: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.appointment2,
.scheduling2 {
  margin: 0;
}
.appointment-scheduling-txt-container2 {
  line-break: anywhere;
}
.appointment-scheduling2 {
  margin: 5px 0 0 0;
  height: 119.7px;
  flex: 1;
  position: relative;
  font-size: 64px;
  line-height: 66px;
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: #095073;
  text-align: left;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.sign-up-prompt,
.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.title {
  width: 590.9px;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  z-index: 1;
}
.sign-up-prompt {
  align-self: stretch;
  justify-content: flex-end;
}
.sign-up-to {
  margin: 0;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--font-roboto);
  color: var(--color3);
  text-align: left;
  z-index: 1;
}
.form {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 22px;
}
.username {
  position: relative;
  font-size: 12px;
  font-family: inter;
  color: var(--color1);
  text-align: left;
  display: inline-block;
  width: 200px;
  border: 1px solid;
  border-radius: 7px;
  padding: 15px ;
  
}
.mdieye {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro);
}

.email2,
.email1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email1 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.email2 {
  height: 69px;
  flex-direction: column;
  font-size: 12px;
  font-family: inter;
  bor
}
/* .mdieye-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  right: 14px;
  bottom: 15px;
} */
.password1 {
  position: relative;
  font-size: 14px;
  font-family: inter;
  color: var(--color1);
  text-align: left;
  display: inline-block;
  width: 200px;
  border: 1px solid;
  border-radius: 7px;
  padding: 15px;
}
.sign-up-form-instance-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro);
}

.password-su,
.sign-up-form-instance {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-form-instance {
  flex: 1;
  flex-direction: row;
}
.password-su {
  height: 69px;
  flex-direction: column;
  z-index: 1;
}
.sign-up-form-child {
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 0 !important;
  bottom: -43px;
  left: 0;
}
.sign-up-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-8xs);
  min-width: 200px;
}
.username1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  color: var(--color1);
  text-align: left;
  display: inline-block;
  width: 200px;
  border: 1px solid;
  border-radius: 7px;
  padding: 15px;
  font-family: inter;
}
.email-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro);
}

.email2,
.email3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email3 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.email2 {
  height: 69px;
  flex-direction: column;
}
.mdieye-icon1 {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  right: 14px;
  bottom: 11px;
}
.confirm-password1 {
  position: relative;
  font-size: 14px;
  font-family: inter;
  color: var(--color1);
  text-align: left;
  border: 1px solid;
  border-radius: 7px;
  padding: 15px;
  width: 200px;
}
.frame-item {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro);
}

.confirm-password,
.rectangle-parent,
.sign-up-form1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
}
.confirm-password,
.sign-up-form1 {
  flex-direction: column;
  z-index: 1;
}
.confirm-password {
  align-self: stretch;
  height: 69px;
}
.sign-up-form1 {
  flex: 1;
  position: relative;
  gap: var(--gap-8xs);
  min-width: 200px;
}
.sign-up-prompt-parent,
.username-input {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.username-input {
  width: 480px;
  margin-left: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid var(--color-gainsboro);
}
.sign-up-prompt-parent {
  width: 660.9px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 29.1px;
}
.contact-number1 {
  position: relative;
  font-size: 14px;
  font-family: inter;
  color: var(--color1);
  text-align: left;
  display: inline-block;
  width: 200px;
  border: 1px solid;
  border-radius: 7px;
  padding: 15px;
}
.material-symbol-checked {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro);
}

.contact-number,
.contact-number2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-number2 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.contact-number {
  height: 69px;
  flex-direction: column;
}
.password3 {
  position: relative;
  font-size: 14px;
  font-family: inter;
  color: var(--color1);
  text-align: left;
  display: inline-block;
  width: 200px;
  border: 1px solid;
  border-radius: 7px;
  padding: 15px;
}
.frame-inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro);
}

.password2,
.rectangle-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  flex: 1;
  flex-direction: row;
}
.password2 {
  height: 69px;
  flex-direction: column;
}
.sign-up-form-item {
  width: 15px;
  height: 15px;
  position: relative;
  display: none;
  z-index: 2;
}
.password5 {
  position: relative;
  font-size: 14px;
  font-family: inter;
  color: var(--color1);
  text-align: left;
  display: inline-block;
  width: 200px;
  border: 1px solid;
  border-radius: 7px;
  padding: 15px;
}
.rectangle-div {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro);
}

.password4,
.rectangle-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  flex: 1;
  flex-direction: row;
}
.password4 {
  height: 30px;
  flex-direction: column;
  z-index: 1;
}
.material-symbolsverified-user-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 0 !important;
  right: 12px;
  bottom: 14px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.sign-up-form2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 3.5px;
  min-width: 200px;
  z-index: 2;
}
.Links {
  color:#2c5282;
  height: 50px;
  font-family: inter;
  text-decoration: none;

}

.i-accept-the {
  color: var(--color2);
}
.terms {
  width: 1.3em;
  height: 1.3em;
  background-color: #d3d3d3;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  outline: none;
  cursor: pointer;
}
.terms:checked {
  background-color: black;
}
.label-terms {
  color: var(--color-mediumslateblue);
  cursor: pointer;
  padding: 10px;
  margin: 0;
  position: relative;
  font-size: 14px;

  font-family: inter;
}
.privacy-policy {
  color: var(--color-mediumslateblue);
  cursor: pointer;
  padding: 10px;
  width: 50px;
  position: relative;
  align-items: flex-start;
  font-family: inter;
  
  font-size: 14px;
}
.and {
  color: var(--color2);
}
.condition {
  color: var(--color-mediumslateblue);
}
.i-accept-the-general-terms-and,
.of-use {
  margin: 0;
}
.of-use {
  color: var(--color-mediumslateblue);
}
.i-accept-the-container {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  text-align: left;
}
.terms-of-use1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  z-index: 1;
}
.signup-button2 {
  cursor: pointer;
  color: #fff;
  padding: 15px 20px 7px;
  background-color: #04c45c;
  border-radius: 10px;
  font-size: 25px;
  font-family: roboto;
  font-weight: 400;
  min-width: 347px;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 5px 5px 4px #e2e2e2;

  transition: 0.3s;
}
.signup-button2:hover{
  opacity: 0.9;
}
.signup-button2:active{
  opacity: 0.7;
}
.i-accept-the1 {
  color: var(--color2);
}

.and1 {
  color: var(--color2);
}
.policy {
  color: var(--color-mediumslateblue);
}
.i-accept-the-container1 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  text-align: left;
}

.terms-of-use,
.terms-of-use-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.privacy-checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: #d3d3d3;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  

  outline: none;
  cursor: pointer;
}
.privacy-checkbox:checked {
  background-color: black;
}
.terms-of-use,
.terms-of-use-wrapper {
  flex-direction: column;
}
.terms-of-use {
  gap: 26px;
}
.terms-of-use-wrapper {
  height: 137px;
  min-width: 277px;
}
.sign-up-form-parent,
.signup-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.sign-up-form-parent {
  flex: 1;
  align-items: flex-end;
  gap: 21px;
}
.labeled-checkbox {
  position: relative;
  display: inline-block;

  margin-left: 10px;
  margin-top: 50px;
}

.signup-inner {
  width: 550px;
  align-items: flex-start;
  padding: 0 3px var(--padding-mid);
  box-sizing: border-box;
  margin-left: 20px;
}
.button-sign-up {
  position: relative;
  font-size: 5xl;
  display: inline-block;
  font-family: roboto;
  color: green;
  background-color: green;
  text-align: left;
  min-width: 86px;
}
.button-sign-up2 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: #04c45c;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xl);
  white-space: nowrap;
  z-index: 2;
  border: 0;
  margin-top: 20px;
  height: 50px;
  border-radius: 7px;
  cursor: pointer;
}
.already-have-an,
.sign-in1 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  text-align: left;
}
.already-have-an {
  color: var(--color-black);
}

.sign-in1 {
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  color:   #2c5282;
 
  min-width: 30px;
  z-index: 5;
  text-decoration: none;
}
.already-have-an-account-parent,
.frame-wrapper,
.sign-in1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.already-have-an-account-parent {
  gap: 6px;

  position: relative;
}
.frame-wrapper {
  display: flex;
  position: relative;
  padding: 20px;
  overflow: hidden;
  font-size: 17px;
  font-family: inter;
}
.button-sign-up1 {
  width: 346px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.connect-signup {
  position: relative;
  font-size: 24px;
  display: inline-block;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  min-width: 70px;
  z-index: 1;
}
.sign-in,
.signup {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  cursor: pointer;
}
.sign-in {
  width: 620px;

  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.signup {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mid) 19px 51px;
  position: relative;
  gap: 28px;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .appointment-scheduling2 {
    font-size: 51px;
    line-height: 53px;
  }
  .sign-up-to {
    font-size: var(--font-size-5xl);
  }
  .signup {
    gap: 21px 43px;
  }
}
@media screen and (max-width: 675px) {
  .terms-of-use-wrapper {
    flex: 1;
  }
  .sign-up-form-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .appointment-scheduling2 {
    font-size: 38px;
    line-height: 40px;
  }
  .sign-up-to {
    font-size: 18px;
  }
  .frame-wrapper {
    padding-left: var(--padding-xl);
  }
}


.button-signup-container{
  display: block;
  margin: 50px 0 0 130px;

  z-index:1;
}
.already-have-an-account-paragraph{
  text-align: center;
  font-family: inter;
  font-weight: 100;
}
.already-have-an-account-login{
   color:#2c5282;
  height: 50px;
  font-family: inter;
  text-decoration: none;
}